body {
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/* inicio navbar */

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;
    background-color: #f7f6f4;
    border-bottom: 1px solid #ddd;
}

/* Logo */
.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 24px;
    margin-right: 5px;
}

.navbar-logo span {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* Links */
.navbar-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.navbar-links a:hover {
    color: #000;
}

/* Botões */
.navbar-buttons {
    display: flex;
    gap: 10px;
}

.navbar-buttons .button {
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-buttons .button-download {
    color: #333;
    border: 1px solid #333;
    background-color: transparent;
}

.navbar-buttons .button-download:hover {
    background-color: #e0e0e0;
}

.navbar-buttons .button-start {
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
}

.navbar-buttons .button-start:hover {
    background-color: #218838;
    border-color: #218838;
}

/* fim navbar */

.card {
    transition: transform 0.3s ease;
    overflow: hidden;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.social-icons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .social-icons {
    opacity: 1;
}

.social-icons i {
    color: #fff;
    font-size: 1.5rem;
    background-color: rgba(0, 123, 255, 0.8);
    border-radius: 50%;
    padding: 5px;
}

footer {
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.form-control,
.btn {
    border-radius: 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Card de modelos */
.card-image {
    height: 100vh;
    object-fit: cover;
}

.card {
    position: relative;
    border: none;
}

.card-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    text-align: left;
    padding: 15px;
    border-radius: 8px;
    width: calc(100% - 40px);
    /* Deixe uma margem dos lados */
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.card-subtitle {
    font-size: 1rem;
    margin: 0;
}

.card-description {
    font-size: 1rem;
    margin-top: 10px;
}

.btn-primary,
.btn-secondary {
    background: #ffffff;
    color: #000;
    border: none;
    margin-top: 10px;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 5px;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    margin-right: 10px;
}

.btn-secondary {
    background-color: #555;
    color: #fff;
}

/* social media */
.social-media-stories .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.social-media-stories .text-center {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.social-media-stories .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.social-media-stories .grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.social-media-stories .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Controlando tamanhos das imagens específicas para corresponder à sequência */
.social-media-stories .grid-item:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
}

.social-media-stories .grid-item:nth-child(2),
.social-media-stories .grid-item:nth-child(3),
.social-media-stories .grid-item:nth-child(5),
.social-media-stories .grid-item:nth-child(6),
.social-media-stories .grid-item:nth-child(8),
.social-media-stories .grid-item:nth-child(9) {
    grid-column: span 3;
    grid-row: span 1;
}

.social-media-stories .grid-item:nth-child(4) {
    grid-column: span 2;
    grid-row: span 2;
}

.social-media-stories .grid-item:nth-child(7) {
    grid-column: span 4;
    grid-row: span 1;
}


.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.search-content {
    max-width: 500px;
}

.search-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.search-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 25px;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 15px;
}

.search-box input {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    color: #666;
}

.search-box input::placeholder {
    color: #aaa;
}

.image-container {
    flex-shrink: 0;
    max-width: 600px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}